<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Linas, Kondrackis, Linas Kondrackis, portfolio, personal website, Autonomous Driving, Udacity, Nanodegree, AI, Machine Learning, Computer Vision, Robotics, SLAM">
    <meta name="description" content="A portfolio website of Linas Kondrackis - AI Graduate, Robotics Developer and Deep Learning Enthusiast.
        Interested in Python, Autonomous Driving, Drones, Localisation, Behaviour Prediction and Deep Learning of all kinds.">
    <meta name="author" contents="Linas Kondrackis">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103952470-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-103952470-2');
    </script>


    <link rel="shortcut icon" href="{{ "/assets/favicon/favicon.ico" |  prepend: site.baseurl }}">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Freelancer Theme CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-freelancer/3.3.7/css/freelancer.min.css">
    <link rel="stylesheet" type="text/css" href="{{ '/freelancer-fixes.css' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/freelancer-colors.css' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/styles.css' | prepend: site.baseurl | prepend: site.url }}">

    {% if site.show_particles == true %}
        <!-- Particles -->
        <script type="text/javascript">
            let baseParticlesPerPixel = 250 / (1366 * 768);

            // List of screen sizes, sorted by popularity
            let popularScreenSizes = [
                // [1366, 768],  - default
                [1920, 1080],
                [1280, 800],
                [320, 568],
                [1440, 900],
                [1600, 900],
                [768, 1024],
                [1024, 768],
                [1680, 1050],
                [360, 640],
                [720, 1280],
                [480, 800],
                [1360, 768],
            ];
            popularScreenSizes.sort(function(a, b){return a[0] - b[0]});

            let computeParticleCount = function(winWidth, winHeight) {
                let windowAreaSize = winWidth * winHeight;
                let maxParticles = Math.round(baseParticlesPerPixel * windowAreaSize);
                return maxParticles;
            }

            window.onload = function() {
                let particlesArguments = {
                    selector: ".particle-background",
                    maxParticles: computeParticleCount(1366, 768),
                    speed: 0.25,
                    color: ["#202122"],
                    minDistance: 150,
                    connectParticles: true,

                    // Breakpoints, based on window.innerWidth
                    responsive: []
                }
                popularScreenSizes.forEach(function(dims) {
                    particlesArguments.responsive.push({
                        breakpoint: dims[0],
                        options: {
                            maxParticles: computeParticleCount(dims[0], dims[1])
                        }
                    });
                });


                var particles = Particles.init(particlesArguments);

                // Deal with permanent drawing bug when zoomed out (at least in chrome)
                if (window.devicePixelRatio < 1) {
                    particles.pauseAnimation();
                }

            };
        </script>
    {% endif %}
</head>
